---
import "../styles/global.css";

const ogTitle = "Sujeet Kc - Software Engineer";
const ogDescription =
  "Software Engineer specializing in frontend development with React and backend development with Ruby on Rails. Passionate about building efficient and scalable web applications.";
const logoUrl = "/logo.png";
const siteUrl = "https://kcsujeet.com.np/";
const ogType = "website";
const ogSiteName = "Sujeet Kc";
const keywords = "portfolio,software,engineer,developer,react,rubyonrails";
---

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <meta property="og:image" content={logoUrl} />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:site_name" content={ogSiteName} />
    <meta property="og:url" content={siteUrl} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:type" content={ogType} />
    <meta property="og:locale" content="en_CA" />

    <!-- Twitter open-graph tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:alt" content={ogSiteName} />
    <meta name="twitter:title" content={ogTitle} />
    <meta name="twitter:description" content={ogDescription} />
    <meta name="twitter:image:src" content={logoUrl} />

    <meta name="description" content={ogDescription} />
    <meta name="keywords" content={keywords} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>Sujeet Kc</title>
    <link rel="icon" type="image/png" href={logoUrl} />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body>
    <main
      class="bg-gray-900 text-white min-h-screen relative overflow-x-hidden font-mono"
    >
      <slot />
    </main>
  </body>
</html>
